#tetrisBoard {
    background: rgb(0, 0, 0);
    z-index: -1;
}

body {
    background-color: rgb(24, 24, 39);
    color: white;
    font-family: arial;
    max-width: 1080px;
    margin: auto;
}

header {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.67em;
    margin-top: 0.67em;
}

#title {
    font-size: 2em;
    font-weight: bold;
}

#info {
    margin-top: 18px;
}

#content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.side-box {
    background-color: rgb(80, 80, 94);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    width: 170px;
}

.panel-heading {
    margin: 0;
}

.controls-input {
    width: 50px;
}

.settings-row {
    display: flex;
    justify-content: space-between;
}

#modal {
    max-width: 500px;
}

#popup-x {
    float: right;
}